body {
  margin: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

h1 {
  font-size: 5rem;
  color:rgba(60, 177, 255, 0.945)
}

h2 {
  font-size: 1.5rem;
  color: rgb(255, 178, 45)
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.3rem;
  color:rgba(83, 0, 172, 0.945)
}  


button {
  font-size: 1.5rem;
  margin: 4rem;
  border-radius: 3rem;
  padding: 2rem;
  border-color: rgb(170, 251, 111);
  background-color: rgb(180, 254, 139);
  
}


footer {
  padding: 2rem;
  font-size: 1.5rem;
  color:rgba(0, 162, 255, 0.945)
}

.butcherPig {
  width: 25rem;
  height: 16rem;
}

.userInput {
  border-radius: 1.5rem;
  font-size: 2.5rem;
  height: 5rem;
  width: 50rem;
  text-align: center;
}

.inputArea {
  background-color: rgba(249, 160, 255, 0.945);
  color: rgb(255, 255, 255);
  border-radius: 5.5rem;
  padding: 1rem;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
  .userInput{
    font-size: 3rem;
    height: 5rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
}
